/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.list {
  list-style: none;
  padding-left: 0;
}

.list-item {
  color: #909090;
  font-size: 21px;
  line-height: 36px;
}