/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.section {
  position: relative;
  padding: 45px 0;
}

.section-shopping {
  margin-bottom: 50px;
}

.section-title {
  color: #6f7173;
  font-size: 42px;
  font-weight: 400;
  line-height: 44.42px;
}

.subtitle-shopping {
  display: inline-block;
  margin-bottom: 17px;
}

.section-subtitle {
  color: #6f7173;
  font-size: 26px;
  font-weight: 400;
  line-height: 44.42px;
}

.section-footer {
  padding: 30px 0;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(144, 144, 144, 255);
  font-size: 21px;
  margin: 0;
}

@media (max-width: 640px) {
  .section {
    padding-top: 0;
  }
  .section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 35px;
  }
  .shopping-card {
    height: 162px !important;
    width: 215px !important;
  }
  .section-shopping {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section {
    margin-bottom: 0;
  }
}